<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BaseCategoryConfig" type="System.Configuration.NameValueSectionHandler"  />
    <section name="CategoryValue" type="System.Configuration.NameValueSectionHandler" />
    <section name="StandardExplanItem" type="System.Configuration.NameValueSectionHandler" />
    <section name="reserved" type="Xys.Reserved.WebService.Configuration.ReservedSection, Xys.Reserved.WebService"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chm.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <BaseCategoryConfig>
    <!--默认基础类别编码每一级长度-->
    <add key="DefCheckUpCodeIndexLength" value="5"/>
    <!--默认基础类别编码每一级长度-->
    <add key="DefCategoryPerLevelLenth" value="3"/>
    <!--默认顶级类别父级编码-->
    <add key="DefCategoryCode" value="000"/>
    <!--默认食材类别父级编码-->
    <add key="FoodTypeCode" value="001"/>
    <!--默认运动类别父级编码-->
    <add key="SportTypeCode" value="002"/>
    <!--默认患者人群类别父级编码-->
    <add key="PatientTypeCode" value="003"/>
    <!--默认身体成分类别父级编码-->
    <add key="CompositionTypeCode" value="004"/>
  </BaseCategoryConfig>

  <!--获取基础类别的CategoryValue的相关配置，Value对应基础类别的CategoryValue-->
  <CategoryValue>
    <add key="BMI" value="BMI" />
    <add key="BodyFat" value="BodyFat" />
    <add key="BodyWeight" value="BodyWeight" />
    <add key="BodyHeight" value="BodyHeight" />
  </CategoryValue>

  <!--获取标准说明的相关配置，Value对应标准说明表中的Item-->
  <StandardExplanItem>
    <add key="BodyWeight" value="BodyWeight"/>
    <add key="BodyBMI" value="BodyBMI"/>
    <add key="BodyFat" value="FatRate"/>
    <add key="BodyHeightLevel1" value="BodyHeightLevel1"/>
    <add key="BodyHeightLevel2" value="BodyHeightLevel2"/>
    <add key="BodyHeightLevel3" value="BodyHeightLevel3"/>
    <add key="BodyHeightLevel4" value="BodyHeightLevel4"/>
    <add key="BodyHeightLevel5" value="BodyHeightLevel5"/>
    <add key="BodyWeightLevel1" value="BodyWeightLevel1"/>
    <add key="BodyWeightLevel2" value="BodyWeightLevel2"/>
    <add key="BodyWeightLevel3" value="BodyWeightLevel3"/>
    <add key="BodyWeightLevel4" value="BodyWeightLevel4"/>
    <add key="BodyWeightLevel5" value="BodyWeightLevel5"/>
    <add key="HeightGrowthRemark" value="HeightGrowthRemark"/>
    <add key="WeightGrowthRemark" value="WeightGrowthRemark"/>
  </StandardExplanItem>

  <location path="Admin/Checkup/CheckUpReportToPdf.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/HealthReport/PhysicDesignReport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <webServices>
      <protocols>
        <add  name="HttpPost"  />
        <add  name="HttpGet"    />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="300" maxRequestLength="512000" useFullyQualifiedRedirectUrl="false"/>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
    </httpHandlers>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="Chy" namespace="Chy.UI.Controls" assembly="Chy.UI.Controls"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="asp" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
        <!--<add tagPrefix="uc1" src="/Member/Health/ucChart.ascx" tagName="ucChart"/>-->
      </controls>
    </pages>
      <!--<identity impersonate="true" userName="szxys\liumeifang" password="123456"/>-->
  </system.web>
  <appSettings>
    <add key="FtpService" value="ftp://59.41.70.226:50033"/>
    <add key="UserName" value="sa"/>
    <add key="PassWord" value="sa"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/hc/TempImages/;" />
    <add key="HMMode" value="yes" />
    <add key="HosName" value="深圳市福田人民医院"/>
    <add key="HosPhone" value="0755-83982222"/>
    <add key="HosAddress" value="TJK83982222@163.COM"/>
    <add key="HosEMail" value="TJK83982222@163.COM"/>
    <add key="factoryName" value="Chm.Common"/>
    <!--健康资讯文件上传和下载地址可自由配置-->
    <add key="HM_FilePath" value="/ftproot/JKZX" />
    <!--<add key="Registration" value="http://59.41.70.229:3353/gd2hservice/Service.asmx"/>-->
    <add key="Registration" value="http://59.41.70.229:3353/yyservicetest/Service.asmx"/>
    <add key="RegisterSmsEnabled" value="true"/>
    <add key="factoryName" value="Chm.Common"></add>
    <add key="HMHosType" value="2"/>

    <add key="ReserveSuccessed" value="【{0}】女士/先生，您好！您已成功预约我院【{1}】科【{2}】主任/医生，时间:【{3}】ID：【{4}】，请提前15分钟到门诊一楼导诊台取票。超时预约无效，如您不能按时就诊，请提前拨打020-89168888取消，否则将取消以后的预约资格。"/>
    <add key="Reservefield" value="【{0}】女士/先生，您好！您的预约订单号为【{1}】的订单已取消，如有需要请通过健康家园自助终端或是拨打020-89168888进行预约。谢谢！"/>
    <add key="RefundmentMessage" value="尊敬的【{0}】男士/女士，您门诊流水号为【{1}】的订单通过健康家园退款成功，在24小时工作日内未到账，请咨询020-89168888，祝您健康"/>
    <add key="uploadReportPath" value="/ftproot/CheckupFile/"/>    
  </appSettings>
  
  <reserved xmlns="urn:Xys.Reserved.WebService.Configuration">
    <payment address="http://222.66.233.198:8080/gateway/merchant"
              charset="UTF-8" securityKey="HBgAii5pWcZf1C1C5pbJou8dWeTnJMD5"
              currency="156"  version="1.0.0" tradeId="880000000000167" />
    <service address="http://220.231.188.211:8443"/>
  </reserved>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
     path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>